.header{
  display: flex;
}
.header h1
{
  padding: 30px;
  color: black;
  font-weight: bolder;
}

.line{
  border: 3px solid rgb(47, 47, 47);
  height: 5px;
  margin: 45px 10px;
  flex: 1;
}

.timeline{
  display: flex;
  flex: 1;
}