.front-back{
    height: 100vh;
    background-image: url(img/FORMAL\ LANDSCAPE.png);
    background-size: cover;
}

.front h1, label{
    color: white;
}

.front{
    padding: 50px;
    width: 50%;
    background: rgba(255, 255, 255, 0.349);
    margin: 5% 25%;
    border-radius: 20px;
}