.front-back{
    height: 100vh;
    background-image: url(img/FORMAL\ LANDSCAPE.png);
    background-size: cover;
}

.contact{
    margin: 30px;
    background-color: rgba(255, 255, 255, 0.347);
    width: 55%;
    padding: 50px;
    color: white
}

.socials{
    display: flex;
    margin: 10px 0;
    width: 30%;
}

.socials p{
    text-align: left;
    margin: auto 10px;
}