*
{
    padding: 0;
    margin: 0;
}

body 
{
    background: linear-gradient(149deg, #D3C4AF 15.31%, #D8B8D8 47.92%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.front
{
    display: flex;
    width: 100%;
    padding: 0;
}
h1, h4, h5
{
    padding: 10px;
}

h1
{
    color: #000;
    font-family: Montserrat;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
img
{
    transform: scaleX(-1);  
    height: 350px;
    width: 400px;
}

.greetings, .picture
{
    padding: 20px;
    margin: 7% 8%;
}

.btn{
    display: flex;
}

.button
{
    width: 100px;
    background: #000;
    box-shadow: 5px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 20px 30px;
    margin: 10px 20px 10px 0;
    text-decoration: none;
    color: white;
}

.about
{
    display: flex;
    margin: 10%;
}

.about img
{
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.63);
    position: relative;
}

.about-details
{
    margin: 10%;
}

.about h3
{
    padding: 10px;
    margin-bottom: 20px;
    border-left: 3px solid #292674;
}

.about p
{
    text-align: center;
}
  /* CSS for the container that holds both the SVG and the image */
        .picture {
            position: relative;
            width: 500px; /* Adjust this width to your desired size */
        }

        /* CSS for the SVG */
        .svg-background {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        /* CSS to hide the default image border */
        .picture img {
            display: block;
            border: none;
            width: 100%;
            height: auto;
        }

