*
{
    padding: 0;
    margin: 0;
}

body
{
    background-color: transparent;
}

.header{
    display: flex;
}

.header h1{
    text-align: center;
    width: 35%;
    font-weight:bolder;
}

.line, .line2{
    height: 5px;
    margin: 15px 10px;
    flex: 1;
  }

  .line{
    border: 4px solid rgb(255, 255, 255);
  }

  .line2{
    border: 4px solid #35181A;
  }

div.sticky {
    position: sticky;
    float: right;
    color: white;
    padding: 20px 22px;
    margin: 20px;
    top: 90%;
    background: rgba(255, 255, 255, 0.233);
    color: #ffffff;
    border-radius: 50%;
  }


.front-back{
    background-image: url(img/FORMAL\ LANDSCAPE.png);
    background-size: cover;
    height: auto;
}

.front
{
    display: flex;
    width: 100%;
    padding: 0;
    height: 90vh;
    position: relative;
    color: white;
}

.front h1{
    margin: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    margin: 300px 300px;
    position: relative;
    clip: rect();
    display: block;
    padding: 10px;
    color: white;
    height: fit-content;
}

.front h1 pre{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.about-back{
    display: flex;
    background-color: transparent;
}

.about
{
    color: rgb(52, 51, 51);
    height: fit-content;
    position: relative;
    padding: 5% 5% ;
    transform: translateX(-150px);
    opacity: 0;
    transition: 1s all ease;
}

.about img{
    height: 350px;
    width: max-content;
}
  
.about.appear{
    transform: translateY(0);
    opacity: 1;
}

.about-details{
    margin: auto;
}

.about h2
{
    margin-bottom: 10px;
}

.about h3
{
    padding: 10px;
    margin-bottom: 20px;
    border-bottom: 3px solid #ffffff;
    width: 50%;
}

.learn-more-btn
{
    display: flex;
    justify-content: left;
}

.learn-more
{
    text-decoration: none;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #ffffff;
    display: block;
    width: fit-content;
    color: white;
}

.picture {
    position: relative;
 }

.picture .pictureko {
    display: block;
    border: none;
    width: 100%;
    height: auto;
}

.skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 100%;
    padding: 0 30px;
    margin: 10PX;
  }
  
  .skill {
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 15px;
    margin: 0; /* Remove margin to use the grid gap instead */
  }
  
  .rating {
    padding: 5px 20px;
  }
  
  .rating h5, p{
    margin: 0;
  }
  
  .rating p{
    font-size: 14px;
  }

.services{
    padding: 40px;
}

.what {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.what .activity {
    background-color: white;
    color: black;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    flex: 1 1 calc(25% - 20px); 
    box-sizing: border-box;
}

.what .activity h4 {
    padding: 20px 0;
}

.what .activity pre {
    margin: 0;
    padding: 0;
    white-space: pre-wrap; 
    font-family: 'Montserrat', sans-serif;
}

.projects, .featuredprojects
{
    padding: 5%;
    background-color: #35181A;
    color: white;
}

.projectss{
    display: flex;
}

.sampleproject{
    border: 2px solid white;
    width: fit-content;
    border-radius: 20px;
    background-color: #ffffff;
    flex: 1;
}

.sampleproject::after{
    margin: 10px;
}

.sampleproject img{
    width:auto;
    height: 300px;
    border-radius: 20px 20px 0 0;
}

.project-details{
    padding: 10px;
    color: black;
    margin-top: 0;

}

.tags{
    display: flex;
}

.tags li{
    list-style-type: none;
    padding: 5px;
    background: #5e3739;
    margin: 5px;
    color: white;
    border-radius: 10px;
    font-size: 10px;
}

.project-details pre{

}

.contactme{

    height: 100vh;
        background-image: url(img/FORMAL\ LANDSCAPE.png);
        background-size: cover;
        padding: 20px;
}

.contactme h1, label{
    color: white;
}

.contact{
    padding: 50px;
    width: 50%;
    background: rgba(255, 255, 255, 0.349);
    margin: 5% 25%;
    border-radius: 20px;
}

@media (max-width: 400px) {

    .front-back{
        background-image: url(img/ME\ WHOLE\ BODY.jpg);
        height: max-content;
    }
    

    .front h1{
        top: 60%;
        margin: 50px;
    }

    .about{
        width: 100%;
        height: fit-content;
        padding: 10px;
    }

    .about h2
    {
        padding-left: 0;
        text-align: center;
        margin-bottom: 20px;
    }

    .about-back{
        flex-direction: column;
        padding: 20px;
    }

    .what{
        flex-direction: column;
    }

    .contactme{

        height: fit-content;
    }
    
    .contactme h1, label{
        color: white;
    }
    
    .contact{
        padding: 50px;
        width: 100%;
        background: rgba(255, 255, 255, 0.349);
        margin: 0;
        border-radius: 20px;
    }
}


