*
{
    margin: 0;
    padding: 0;
}

body
{
    background: linear-gradient(149deg, #D3C4AF 15.31%, #D8B8D8 47.92%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 15% 40%;
}

.logo
{
    text-align: center;
    margin: 5%;
}

.logo h1
{
    text-shadow: #8b8274;
}

.field
{
    display: flex;
    align-items: center;
    border: 2px solid black;
    margin: 10px;
    max-width:  100%;
    border-radius: 10px;
    padding: 10px;
}

.btn 
{
    max-width:  100%;
    border-radius: 10px;
    padding: 10px;
    background: #b5a997;
    margin: 10px;
    text-align: center;
}

.field input, .btn input
{
    border: none;
    outline: none;
    background: none;
    width: 100%;
}

#eyeicon
{
 cursor: pointer;
 display: flex;
 align-items: end;
}

@media screen and (max-width: 400px) {
    
    .logo h1
    {
        font-size: larger;
    }
}