* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

nav {
    display: flex;
    align-items: center;
    background-color: #4A1E1D;
    color: black;
    padding: 50px;
    z-index: 9999999;
    height: 5vh;
}

.logo {
    flex: 1;
}

.logo a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-align: center;
}

nav li{
    list-style: none;
}

nav li a
{
    text-decoration: none;
    color: white;
    padding-right: 20px;
}


