*{
    margin: 0;
    padding: 0;
}

.projects{
    color: white;
    height: auto;
    margin: 20px;
}

.header{
    display: flex;
}

.header h1{
    text-align: center;
    width: 35%;
    font-weight:bolder;
}

.line, .line2{
    height: 5px;
    margin: 15px 10px;
    flex: 1;
}

.line{
    border: 4px solid rgb(255, 255, 255);
}

.line2{
    border: 4px solid #35181A;
}

.groupprojects{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;   
}

.searchbar{
    background-color: white;
    width: 75%;
    border-radius: 5px;
    padding: 10px;
}

.searchbar .searchfld{
    border: none;
}

.groupprojects{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    width: 100%;
    padding: 0 30px;
    margin: 10px;
}

.card{
    height: fit-content;
}


@media (max-width: 400px) {

    .groupprojects{
        display: block;
    }
}