*
{
    margin: 0;
    padding: 0;
}

body
{
    background-color: #D3C4AF;
    top: 20%;
}

.board
{
    top: 10%;
    width: 80%;
    left: 20%;
    position: absolute;
}

#date, #time{
    font-size: 16px;
    text-align: center;
}

.greeting
{
    text-align: center;
    margin: 3vh;
}

.summary
{
    display: flex;
    justify-content: space-between;
    margin: 50px;
}

.graph
{
    width: 35%;
    height: 200px;
}

.graph, .count
{
    background-color: white;
}

.live-resume
{
    margin: 50px;
    background-color: white;
    font-size: 14px;
}

.live-resume-header
{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    font-weight: bolder;
}
button
{
    padding: 0 10px;
    background-color: #353434;
    color: white;
    border-radius: 20px;
}

.live-resume table
{
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

.live-resume table tr
{
   
}

.live-resume table th
{
    background-color: #353434;
    padding: 10px;
    color: white;
}

.live-resume table td
{
    padding: 10px;
}